.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(-225deg, rgba(127, 140, 141,0.3) 0%, rgba(52, 152, 219,0.2) 70%), url('http://imgview.info/download/20150710/city-street-light-car-hd-wallpaper-1920x1200.jpg');
}.banner-content{
	margin-top:45px;
	color:white;
}
.me{
	width: 300px;
	height: 300px;
	border-radius: 50px;
}section{
	width: 100%;
	margin:0px;

}.titre{
  //padding-top: 5px;
    //padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 0;
    color: #1e1e1e;
    //background-color: #e7e5e4;
    font-family: 'Gabriela', serif;
    font-size: 50px;
    letter-spacing: .10em;
    //text-align: center;
    text-shadow:
        1px -1px 0 #767676,
        -1px 2px 1px #767474;
        
}.about{
	margin :0px;
}
.portofolio{
	width: 100%;
	height: 100vh;
	background-size: cover !important;
	 
	background-image: linear-gradient(-225deg, rgba(127, 140, 141,0.2) 0%, rgba(52, 152, 219,0.3) 70%), url('http://puu.sh/6cMGs.jpg');
}.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  //background-image: url('https://unsplash.it/1000/175/');
  border-radius:10px; 
  transition: 0.5s;
}.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }.card-category {
  position: absolute;
  left: 28%;
  width: 50%;
  height: 20%;
  background-color: #3498db;
  //border-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;

  
  font-size: 18px;
  text-transform: uppercase;
}.card:hover{
	-ms-transform: scale(1.1, 1.1); /* IE 9 */
    -webkit-transform: scale(1.1, 1.1); /* Safari */
    transform: scale(1.1, 1.1);
    transition: 0.5s ;
}.contact{
	margin:0px;
	-webkit-background-size: cover;
	background-size: cover;

	
}.social:hover{
	-ms-transform: scale(1.1, 1.1); /* IE 9 */
    -webkit-transform: scale(1.1, 1.1); /* Safari */
    transform: scale(1.1, 1.1);
    transition: 0.5s;
}.social{
	transition: 0.5s;
}.menu{
	
	background-color: #3498db !important ;
	
	
}.navbar-right{
	margin-right: 5% !important;
}.collapse li a{
	color:white !important;
	font-size: 25px;
	font-family: monospace ;
	font-weight: bold;
}.collapse li a:hover{
	color:rgba(52, 152, 219,1) !important;
}.header-title{
	color:white !important;
	font-family: monospace ;
	font-weight: bold;
	font-size: 25px;
}.collapse li a:focus{
	color:rgba(52, 152, 219,1) !important;
}